// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'box-sizing';

$white: hsl(0, 0%, 21%);
$c-spotify: #1ed760;

@import 'bulma';
@import 'font-awesome';

.page {
  display: flex;
  flex-direction: column;
  min-width: 40rem;
  max-width: 60rem;
  margin: 0 auto;
}

.logo {
  width: 30rem;
  margin: 0.5rem auto;
}

.panel {
  display: flex;
  flex-direction: column;
  height: 50vh;

  &-block {
    color: #fff;
  }
}

.results {
  overflow: scroll;
}

.track {
  &__media {
    @extend .media-left;
  }

  &__frame {
    @extend .image.is-64x64;
  }

  &__artist {
    @extend .title;
    @extend .title.is-4;

    color: #fff;
  }

  &__name {
    @extend .title;
    @extend .subtitle;

    color: #fff;
  }
}

.media-right {
  display: flex;
  align-items: center;
}

.link-text {
  display: none;
}

.play {
  display: none;
  margin: 0.5rem;
  font-size: 30px;
}

.search {
  display: flex;

  &-bar {
    width: 90%;
    padding: 1rem;
    font-size: 2rem;
  }

  &-submit {
    width: 10%;
    border: none;
  }
}

.song-item {
  &:hover {
    background: rgba(#000, 0.2);
  }

  &:hover .play {
    display: block;
  }
}
